* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    min-height: 100vh;
    background: linear-gradient(#000, #111, #222);
    font-family: "Kode Mono", monospace;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background-color: pink;
    border-radius: 4px;
    padding: 40px;
    max-width: 1280px;
}

.contacts {
    flex-direction: column;
    
    
}

.title-table th, td {
    padding: 0 100px;
}   

.title-table th {
    font-size: 25px;
}

.title-table td {
    margin: 30px;
    font-size: 20px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.7);
    border-radius: 4px;

}

.input-container {
    display: flex;
    margin-bottom: 20px;
    gap: 50px;
}
.input-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}

.input-item input {
    height: 40px;
    font-size: 18px;
    padding: 8px;
    border: none;
}

.input-container button {
    background-color: rgb(223, 122, 139);
    font-size: 25px;
    font-weight: bold;
    border: none;
    padding: 16px;
    border: 4px solid black;
}

.input-container button:hover {
    border-style: dashed;
    border-width: 4px;
    background-color: rgb(224, 86, 109) ;
    color: white;
    cursor: pointer;
}
